<form method="get" action ="/quizes/estatistics">
<h2><FONT COLOR="NAVY">Estadísticas: </FONT></h2><br />
<h4 align="left">- Número de preguntas: <%=quizes%></h4><br />
<h4 align="left">- Número de comentarios totales: <%=comments%></h4><br />
<h4 align="left">- Número de preguntas sin comentarios: <%=preSinComment%></h4><br />
<h4 align="left">- Número de preguntas con comentarios: <%=preConComment%></h4><br />
<h4 align="left">- Número medio de comentarios por pregunta: <%=mediacomentarios%></h4><br />
</form>

